<main class=" pt-3 position-relative" style="margin-top: 3rem;">
    <div class=" container-fluid">
        <div class="row">
            <div class="col-md-12 text-black">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card text-black text-center fw-bold h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5">
                        <%=link_to '<i class="bi bi-plus"></i></span>Invite Tenants'
                            .html_safe,new_tenant_path,class:""%>
                    </div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card  text-center fw-bold text-dark h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5"> <span class="me-2">
                            <%=link_to '<i class="bi bi-plus"></i></span>Create Unit'
                                .html_safe,new_unit_path,class:""%>

                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card  text-center fw-bold text-black h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5"> <span class="me-2">

                            <%=link_to '<i class="bi bi-plus"></i></span>Create Property'
                                .html_safe,new_property_path,class:""%>
                    </div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card text-center fw-bold text-black h-100"
                    style="border:2px dashed rgb(229, 110, 44);background:rgb(255, 247, 234);">
                    <div class="card-body py-5">

                        <%=link_to '<i class="bi bi-plus"></i></span>Create Lease' .html_safe,"#",class:""%>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Units Status
                    </div>



                    <div class="  card-body chart-container" width="200px" height="200px">
                        <%= pie_chart @units.group(:status).count %>
                    </div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Units per Property
                    </div>

                    <div class="  card-body chart-container" width="200px" height="200px">
                        <%= column_chart @units_by_property, xtitle: 'Property' , ytitle: 'Units' , stacked: true,
                            library: { title: { text: 'Units by Property' } } %>




                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Units Status
                    </div>



                    <div class="  card-body chart-container" width="200px" height="200px">
                        <%= pie_chart @units.group(:status).count %>
                    </div>

                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
                        Units per Property
                    </div>

                    <div class="  card-body chart-container" width="200px" height="200px">
                        <%= column_chart @units_by_property, xtitle: 'Property' , ytitle: 'Units' , stacked: true,
                            library: { title: { text: 'Units by Property' } } %>




                    </div>
                </div>
            </div>



        </div>

    </div>
</main>