<nav class="navbar navbar-expand-lg fixed-top "
    style="background-color: rgb(7, 37, 102); width: 100%;height: auto; top: 0; left: 0;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
            aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
        </button>

        <%=link_to '<span class="me-2"><i class="bi-layers-fill"></i></span>
        <span>TumyTenant</span>' .html_safe,dashboard_path,class:" navbar-brand me-auto ms-lg-0 ms-3 text-uppercase
            fw-bold text-white"%>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
                aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <div class="d-flex ms-auto my-3 my-lg-0 fw-bolder text-white">
                    <%=current_user.email%>
                </div>
                <ul class="navbar-nav text-white">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-2 text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill text-white"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end border-0 text-white ">

                            <div
                                class="justify-content-center align-items-center d-flex mb-1  text-center shadow-sm fw-semibold text-white   ">
                                <%=link_to "Logout" ,destroy_user_session_path,data: {turbo_method:
                                    :delete},class: " dropdown-item btn btn-primary text-white fw-semibold text-uppercase "
                                    %>
                            </div>

                            <div
                                class="justify-content-center align-items-center d-flex text-center  shadow-sm fw-semibold  ">
                                <%=link_to "Profile" ,"#",data: {turbo_method:
                                    :delete},class: " dropdown-item btn btn-primary text-white fw-semibold text-uppercase "
                                    %>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</nav>
<!-- top navigation bar -->
<!-- offcanvas -->
<div class="offcanvas offcanvas-backdrop     sidebar-nav " tabindex="-1" id="sidebar"
    style="background-color: rgb(7, 37, 102);">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">


                <li class="my-1">
                    <hr class="dropdown-divider bg-danger" />
                </li>


                <li>
                    <a href="#" class="nav-link px-3 text-white">
                        <span class="me-2"><i class="bi bi-person"></i></span>
                        <span>LandLords</span>
                    </a>
                </li>
                <li>
                    <%=link_to '<span class="me-2"><i class="bi-layers-fill"></i></span>
                    <span>Properties</span>' .html_safe,properties_path,class:" nav-link px-3 text-white"%>
                </li>
                <li class="my-3">
                    <hr class="dropdown-divider" style="background-color: brown;" />
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link text-white" data-bs-toggle="collapse" href="#layouts">
                        <span class="me-2"><i class="bi bi-layers"></i></span>
                        <span>LandLord Properties</span>
                        <span class="ms-auto">
                            <span class="right-icon">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </span>
                    </a>
                    <div class="collapse" id="layouts">
                        <ul class="navbar-nav ps-3">
                            <li>
                                <a href="#" class="nav-link px-3 text-white">
                                    <span class="me-2"><i class="bi bi-house-add"></i></span>
                                    <span>Tamirat court</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>

                    <%=link_to '<span class="me-2"><i class="bi-people"></i></span>
                    <span>Tenants</span>' .html_safe,tenants_path,class:" nav-link px-3 text-white"%>
                </li>
                <li>

                    <%=link_to '<span class="me-2"><i class="bi bi-house-dash"></i></span>
                    <span>Units</span>' .html_safe,units_path,class:" nav-link px-3 text-white"%>
                </li>
                <li>

                    <%=link_to '<span class="me-2"><i class="bi bi-layout-split"></i></span>
                    <span>Leases</span>' .html_safe,"#",class:" nav-link px-3 text-white"%>
                </li>
                <li>


                    <%=link_to '<span class="me-2"><i class="bi bi-chat-right-dots-fill"></i></span>
                    <span>Reports</span>' .html_safe,"#",class:" nav-link px-3 text-white"%>
                </li>
                <li>
                    <a href="#" class="nav-link px-3 text-white">
                        <span class="me-2"><i class="bi bi-person-fill-check"></i></span>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- offcanvas -->

<% if dashboard_url %>
    <%=render "shared/dashboard" %>
        <%end%>